svg.go {
    color: green
}

svg.js {
    color: orange
}

svg.ts {
    color: rgb(34, 102, 238)
}

svg.json {
    color: rgb(204, 20, 20)
}

svg.css {
    color: rgb(204, 20, 20)
}

svg.html {
    color: rgb(127, 204, 20)
}

.EditableName{
    padding-left: 8px;
}

svg.icon.CaretDownIcon {
    display: none;
}

.TreeNode :hover {
    color: darkred;
}

.FolderTree {
    padding-left: 20px;
    padding-top: 20px;
}